<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Password</h1>
    <p><%= recoveryMessage %></p>
    
    <form action="/newpassword" method="PUT">
        <label for="password">Enter your new password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Update Password</button>
    </form>
    
</body>
</html>