<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="flashcards.css">
</head>
<body>
    <form class="container" action="/flashcards" method="post">
      
    <% { %>
        <div class="questions">
        <input  class="fquestion" type="text" name="question" placeholder="question" /><br><br></div>
        <div class="answer">
        <input class="passwordBox" type="text"  name="answer" placeholder="answer" /><br><br></div>
    <% } %>
    <button onclick="">submit</button>
   
    <% if (typeof questions !=='undefined' ) { %>
        <p>
            <%= questions.questions %>
            
                </p>
                <p><%= questions.answers %></p>
                <% } %>

                
               
        </form>
</body>
</html>