<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/flashcards.css">
</head>
<body>
    <form class="container" action="/flashcards" method="post">
    <% { %>
        <div class="questions">
        <input  class="fquestion" type="text" name="question" placeholder="question" /><br><br></div>
        <div class="answer">
        <input class="passwordBox" type="text"  name="answer" placeholder="answer" /><br><br></div>
    <% } %>
    <button onclick="">submit</button>  
        </form>
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <% if (questions !== null && typeof questions !== 'undefined') { %>
                    <p style="color: rgb(247, 24, 8);">
                      <%= questions %>
                    </p>
                  <% } else { %>
                    <p>
                      No question available
                    </p>
                  <% } %>
              </div>
              <div class="flip-card-back">
                <% if (answers !== null && typeof answers !== 'undefined') { %>
                    <p style="color: rgb(247, 24, 8);">
                      <%= answers %>
                    </p>
                  <% } else { %>
                    <p>
                     no answer available
                    </p>
                  <% } %>
              </div>
            </div>
          </div>



        
          
         


</body>
</html>



