<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZ GAME</title>
    <link rel="stylesheet" href="/game.css">
</head>
<body>
    <h1 style="color: #FFBFBF;" >Are You Smarter Than A 5th Grader?</h1>
    <div id="game"></div>
    

    <h2 style="color: #FFBFBF;">SCORE : <span id="score"></span></h2>



    <script src="/jeop.js"></script>
</body>
</html>