<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <nav class="top-nav" >
        <div class="logo">Study Buddy</div>
        
    </nav>
    <nav class ="side-bar">
    <div class="navDiv">
    <header class="navHeader">
        Navigation 
    </header>
    <ul class="navlist" >
        <li>FLash cards</li>
        <li>Test your Smarts</li>
        <li></li>
        <li>About</li>
        <li></li>
        <li></li>
    </ul>
</div>
 </nav>
    
</body>
</html>