<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<div class ="backgroundblr">
    <body>
        <div class="content">
        
            <div class="logo"> 
                <p class ="study">Study</p><p class= "buddy"> Buddy</p>
            </div>
        <form class="container" action="/login" method="post">
        <div class="form">
     <fieldset>
    <legend> Sign in </legend>
    <% if (typeof failedMessage !=='undefined' ) { %>
        <p style="color: rgb(247, 24, 8);">
            <%= failedMessage %>
        </p>
        <% } %>
    <% { %>
        <div class="email">
        <input  class="emailBox" type="email" name="email" placeholder="Email" /><br><br></div>
        <div class="password">
        <input class="passwordBox" type="password" minlength="8" maxlength="25" name="password" placeholder="Password" /><br><br></div>
    <% } %>
    <button onclick="">Sign in</button>
    <div class="line"></div>
    <p class="account">Need to create an account? <a href="/register" style="color: rgb(45, 112, 226);">Create Account</a></p>
    <p style="color: white;">Forgot password? <a href="/forgotten-password" style="color: rgb(45, 112, 226);">Click here</a></p>

</div>
            </fieldset>
        </form>
    </body>
</div>
</html>