<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/register.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>
<body>
    <div class="content">
        <div class="imgContainer">
<form class="container" action="/register" method="post">
<div class="form">
    <fieldset>
    <legend> Study buddy </legend>
    <% if (typeof successMessage !=='undefined' ) { %>
        <p style="color: green;">
            <%= successMessage %>
        </p>
        <% } %>
     <% if (typeof failedMessage !=='undefined' ) { %>
            <p style="color: rgb(247, 24, 8);">
                <%= failedMessage %>
            </p>
            <% } %>
    <% { %>
        <div class="name">
        <input required type="text" name="firstName" maxlength="26" placeholder="First Name"/><br><br></div>
        <div class="name">
        <input required type="text" name="lastName" maxlength="26" placeholder="Last Name"/><br><br></div>
        <div class="email">
        <input required type="email" maxlength="50" name="email" placeholder="Email" /><br><br></div>
        <div class="password">
        <input required type="password"  minlength="8" maxlength="50" name="password" placeholder="Password" /><p class="passConstraint" style="color: aliceblue;">Password must have a minimum of 8 characters, one uppercase letter, one lowercase letter, one special character, and one number</p></div>
        <div class="password2">
        <input required type="password" name = "repassword"  minlength="8" placeholder = "Re-enter password" /> <br><br></div>
    <% } %>

    <button onclick="" style="font-weight: bold;">Create your registration account</button>
    <div class="line"></div>
    <p class="account" style="color: aliceblue;">Already have an account? <a href="http://localhost:3000/login" style="color: rgb(0, 191, 255);">Sign in</a></p>
</fieldset>
</div>
</form>
<div class="line2"></div>  
 
</div>
</body>
</html>