@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
body {
margin: 0;
padding: 0;
background-color: rgb(46,46,46);
color: white;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-family: 'Luckiest Guy', cursive;}

#game {
    background-color: rgb(32,32,32);
    display: flex;
}

.card {
    width: 195px;
    height: 180px;
    background-color: #A8DF8E;
    border-left: solid #F3FDE8;
    border-right: solid #F3FDE8;
    border-top: solid #F3FDE8;
    border-bottom: solid #F3FDE8;
    text-align: center;
    font-size: 100px;
    margin:5px;
    padding:10px;
    line-height: 120px;

}

.first-button {
  background-color: #FFE5E5;
  border-radius: 20px;
  font-family: 'Luckiest Guy', cursive;
  padding: 2%;

}

.second-button {
    background-color: #F3FDE8;
    border-radius:20px;
    font-family: 'Luckiest Guy', cursive;
    padding: 2%;
    
}

.third-button {
    background-color: #ebf04e;
    border-radius:20px;
    font-family: 'Luckiest Guy', cursive;
    padding: 2%;
    
}

.fourth-button {
    background-color: #76f04e;
    border-radius:20px;
    font-family: 'Luckiest Guy', cursive;
    padding: 2%;
    
}

.category-title {
    text-align: center;
    color: #FFBFBF;
    font-size: 17.5px;
    padding: 5px;
    margin: 5px;
}

.correct-answer {
    background-color: green;
}

.wrong-answer{
    background-color: red;
}

#gamez{
    display: flex;
    margin: 1px;
    color: #FFBFBF;

}