body {
    font-family: Arial, sans-serif;
    background-image: url(https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2942&q=80);
    background-repeat: no-repeat;
    background-size:cover;
    /* margin: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
   
    
 
}

fieldset{height:300px;
    width: 400px;
margin-left: 850px;
margin-top: 100px;
margin-bottom: 150px;
background-color:rgba(0, 0, 0, 0.6);
border-radius: 25px;

}

.email{
    margin-top: 40px;
    margin-left: 10px;
}
legend{font-size: 30px;
color: rgb(255, 255, 255);}



.emailBox{margin-left: -10px;
height: 40px;
width: 102.5%;
border-radius: 10px;}
.passwordBox{height: 40px;
width:100%;
border-radius: 10px;}

button{
    font-size: 25px;
    color: aliceblue;
    background-color: blue;
    height: 40px;
width:100%;
border-radius: 10px;
}
.logo{
   font-family:Brush Script MT, Brush Script Std, cursive ;
   color: #010057;
   position: absolute;
   font-size: 200px;
    
}

.study{
    position: absolute;
    top: -150px;
    left: -50px;
    margin: 0;
  
}
.buddy{
position: absolute;
left:200px;
top: 1px;
margin: 0;
}
.account{color: #ffffff;}
@media(max-width:1000px){
    legend{color: aliceblue;}
    .study{font-size: 130px;
        top: -300px;
        left: 50px;
        color: aliceblue;}
    .buddy{
        top: -200px;
        font-size: 130px;
        color: aliceblue;}


   fieldset{padding: 5px;
    margin-top: 100%;
    margin-left: 10%;
    margin-right: 20%;
    }
    body{margin: auto;
        background-image: none;
        background-color: blue;}
}